<!DOCTYPE html>

<html>
<head>
    <link rel="icon" href="img/rain-weather-svgrepo-com.svg">
    <link rel="stylesheet" href="/css/styles.css">

    <title>home</title>
</head>

<body>
    <div class="main-content">
        {{>header}}
    </div>

    <h1>About cats</h1>

    <img src="/img/bomb.jpg" class="portrait">

    {{>footer}}
</body>
</html>