<!DOCTYPE html>

<html>
<head>
    <link rel="icon" href="img/rain-weather-svgrepo-com.svg"> 
    <link rel="stylesheet" href="/css/styles.css">

    <title>home</title>
</head>

<body>
    <div class="main-content">
        {{>header}}
    </div>

    <form action="">
        <input type="text" placeholder="location">
        <button type="submit">Search</button>
    </form>

    <div id="results">
        <p id="error-message"></p>
        <p id="success-message-1"></p>
        <p id="success-message-2"></p>
        <p id="success-message-3"></p>
    </div>

    <template id="icon_template">
        <img src="" alt="weather-icon">
    </template>

    <template id="para_template">
        <p></p>
    </template>


    {{>footer}}

    <script src="/js/app.js"></script>
</body>
</html>